/*
 *  UCF COP3330 Fall 2021 Assignment 1 Solution
 *  Copyright 2021 Uday Gudipudi
 */

import java.util.*;
class Main {
  public static void main(String[] args) {
    
    Scanner sc= new Scanner(System.in);  
    
    System.out.print("Enter a noun: ");  
    String noun= sc.nextLine();
    System.out.print("Enter a verb: ");  
    String verb= sc.nextLine();
    System.out.print("Enter an adjective: ");  
    String adj= sc.nextLine();
    System.out.print("Enter an adverb: ");  
    String adverb= sc.nextLine();

    System.out.print("Do you " +verb+ " your " +adj+" " +noun+ " " +adverb+ "? That's hilarious!");
  }
}
